.process {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process__bg-images {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.process__bg-img {
  position: absolute;
  opacity: 0.2;
  object-fit: contain;
  width: 400px;
  animation: bgFloat 6s ease-in-out infinite;
}

.process__bg-img--1 {
  top: -250px;
  left: -100px;
  animation-delay: 0s;
}

.process__bg-img--2 {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  animation-delay: -2s;
}

.process__bg-img--3 {
  bottom: -180px;
  right: -10px;
  animation-delay: -4s;
}

@keyframes bgFloat {
  0%,
  100% {
    transform: rotate(30deg) translateY(0);
  }
  50% {
    transform: rotate(30deg) translateY(-40px);
  }
}

.process__content {
  position: relative;
  text-align: center;
  z-index: 1;
}

/* .process__title {
  font-size: 42px;
  font-weight: 600;
  color: var(--color-blue);
  margin-bottom: 30px;
} */
.process__desc {
  font-size: 21px;
  font-weight: 300;
}

.process__desc strong {
  font-weight: 600;
  color: var(--color-blue);
}
